*{
    margin:  0px;
    padding: 0px;
   
}

body{
     background: linear-gradient(-90deg, rgb(208, 117, 165), rgb(245,198,225)) ;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border: 2px solid rgb(0, 26, 255);
    height: 99vh;
}

.form-box{

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    width: 50%;
}


h1 {

    padding: 24px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    border-bottom: 1px solid #dcdcdc;
}

form{
    display: flex; /*coloca elementos lado a lado*/
    padding: 24px;
    align-items: start;/*alinha elementos acima a esquerda*/
    flex-wrap: wrap;/* organiza elementos para caber dentro do container,que neste caso
    é a form-box*/
}
form input, form textarea {

width: 50%;
height: 50px;
border-radius: 5px;
font-size: 16px;
margin-bottom: 24px;

}
form textarea {

    height: 180px;
}